@tailwind base;

@layer base {
  :root {
    --baseline: 1.5;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html {
    @apply box-border min-h-full overflow-x-hidden bg-cool-grey-100 font-sans text-base text-cool-grey-900 antialiased;
  }

  ::selection {
    @apply bg-yellow-vivid-200 text-cool-grey-900;
  }

  body {
    @apply m-0 min-h-full;
  }

  p {
    @apply my-4 text-base font-light;
  }

  strong {
    @apply font-bold;
  }

  [type="text"],
  [type="search"] {
    @apply border-none bg-white text-base text-cool-grey-900;
  }

  [role="menu"]:focus-visible,
  [type="text"]:focus-visible,
  [type="search"]:focus-visible,
  button:focus-visible,
  a:focus-visible,
  .manual-focus {
    @apply outline-dashed outline-2 outline-offset-2 outline-cyan-vivid-600 ring-0;
  }
}

@tailwind components;

@layer components {
  .button {
    @apply relative flex w-full items-center overflow-hidden rounded-tl-lg rounded-br-lg border-none py-3 px-6 text-center text-lg font-bold uppercase leading-10 shadow transition-colors duration-300 ease-out disabled:opacity-75 sm:w-auto;
  }

  .button__icon {
    @apply relative -left-2 h-5 w-5;
  }

  .button--primary {
    @apply bg-pink-vivid-500 text-white;
  }

  .button--primary:hover {
    @apply bg-pink-vivid-400;
  }

  .button--secondary {
    @apply bg-indigo-900 text-white;
  }

  .button--secondary:hover {
    @apply bg-indigo-800;
  }

  .button--destructive {
    @apply bg-red-vivid-500 text-white;
  }

  .button--destructive:hover {
    @apply bg-red-vivid-400;
  }

  .with-type-gradient {
    --outdent: 0px;
  }

  .with-type-gradient::before {
    content: "";
    @apply type-gradient absolute -top-1 block h-2;
    left: calc(var(--outdent) * -1);
    width: calc(100% + var(--outdent) * 2);
  }

  .type-tag {
    @apply inline-block rounded-tl rounded-br py-1 px-2 text-sm font-bold uppercase text-white;
    text-shadow: 0 1px 0px theme("colors.cool-grey.900"),
      1px 0 0px theme("colors.cool-grey.800");
    background-color: var(--type-color);
  }
}

@tailwind utilities;

@layer utilities {
  .type-gradient {
    background-image: var(--type-gradient);
  }

  .zig-zag-top-white {
    @apply relative;
  }

  .zig-zag-top-white::before {
    --size: theme("spacing.9");
    content: "";
    @apply absolute left-0 w-full bg-repeat-x;
    top: calc(var(--size) / 2 * -1);
    height: calc(var(--size) / 2);
    background: linear-gradient(
        -45deg,
        theme("colors.white") theme("spacing.9"),
        transparent 0
      ),
      linear-gradient(45deg, theme("colors.white") var(--size), transparent 0);
    background-position: theme("spacing.4") top;
    background-size: var(--size) 3.2rem;
  }

  @media screen(md) {
    .zig-zag-top-white::before {
      background-position: calc(var(--size) / 2) top;
    }
  }

  .shadow-text {
    text-shadow: 0 1px 0px theme("colors.cool-grey.900"),
      1px 0 0px theme("colors.cool-grey.800"),
      1px 2px 0px theme("colors.cool-grey.900"),
      2px 1px 0px theme("colors.cool-grey.800"),
      2px 3px 0px theme("colors.cool-grey.900"),
      3px 2px 0px theme("colors.cool-grey.800");
  }

  .perspective {
    transform: perspective(1px) translateZ(0);
  }

  .container {
    @apply w-full max-w-screen-xl;
  }

  .invisible-button,
  .invisible-input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  .invisible-input {
    @apply outline-dashed outline-2 outline-offset-8 ring-0;
    padding: 0;
    background-color: transparent;
    outline-color: currentColor;
  }

  .invisible-input-action {
    @apply ml-3 py-2;
    margin-top: calc((theme(spacing.3) - 1px) * -1);
  }

  .invisible-input-message {
    @apply -mx-2 mt-4;
    width: calc(100% + theme(spacing.2));
  }

  .invisible-button:focus-visible,
  .invisible-input:focus-visible {
    @apply outline-offset-8;
  }
}
