@tailwind base;

@layer base {
  :root {
    --baseline: 1.5;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html {
    @apply box-border overflow-x-hidden min-h-full text-cool-grey-900 font-sans text-base bg-cool-grey-100 antialiased;
  }

  ::selection {
    @apply text-cool-grey-900 bg-yellow-vivid-200;
  }

  body {
    @apply m-0 min-h-full;
  }

  p {
    @apply my-4 text-base font-light;
  }

  strong {
    @apply font-bold;
  }

  [type="text"],
  [type="search"] {
    @apply text-base bg-white border-none text-cool-grey-900;
  }

  [role="menu"]:focus-visible,
  [type="text"]:focus-visible,
  [type="search"]:focus-visible,
  button:focus-visible,
  a:focus-visible {
    @apply ring-0 outline-dashed outline-2 outline-cyan-vivid-600 outline-offset-2;
  }
}

@tailwind components;

@layer components {
  .move-line-template {
    @apply grid;
    grid-template: theme("spacing.5") / 1fr 1fr 1fr;
  }

  .move-line-template[aria-expanded="true"] {
    grid-template: theme("spacing.5") theme("spacing.11") / 1fr 1fr 1fr;
  }

  .move-line-template::before,
  .team-member-move-template::before {
    content: "";
    @apply absolute block -top-1 left-0 w-full h-2;
    background-image: var(--type-gradient);
  }

  .move-line-template-compressed {
    grid-template: theme("spacing.5") theme("spacing.5") / 0.75fr 1.25fr;
  }

  .move-line-template-compressed[aria-expanded="true"] {
    grid-template: theme("spacing.5") theme("spacing.5") theme("spacing.11") / 0.75fr 1.25fr;
  }

  .move-line-template-compressed .move-line-template-actions {
    @apply w-full col-span-2 justify-between;
  }

  .move-line-template-compressed .move-line-template-details {
    @apply mt-2 col-span-2;
  }

  .pokemon-line-template {
    --outdent: 0px;
  }

  .pokemon-line-template::before {
    content: "";
    @apply block absolute -top-1 h-2 type-gradient;
    left: calc(var(--outdent) * -1);
    width: calc(100% + var(--outdent) * 2);
  }

  .type-tag {
    @apply inline-block px-2 text-white text-sm font-bold uppercase rounded-tl-sm rounded-br-sm;
    text-shadow: 0 1px 0px theme("colors.cool-grey.900"),
      1px 0 0px theme("colors.cool-grey.800");
    background-color: var(--type-color);
  }
}

@tailwind utilities;

@layer utilities {
  .type-gradient {
    background-image: var(--type-gradient);
  }

  .zig-zag-top-white {
    @apply relative;
  }

  .zig-zag-top-white::before {
    --size: theme("spacing.9");
    content: "";
    @apply absolute left-0 w-full bg-repeat-x;
    top: calc(var(--size) / 2 * -1);
    height: calc(var(--size) / 2);
    background: linear-gradient(
        -45deg,
        theme("colors.white") theme("spacing.9"),
        transparent 0
      ),
      linear-gradient(45deg, theme("colors.white") var(--size), transparent 0);
    background-position: theme("spacing.4") top;
    background-size: var(--size) 3.2rem;
  }

  @media screen(md) {
    .zig-zag-top-white::before {
      background-position: calc(var(--size) / 2) top;
    }
  }

  .shadow-text {
    text-shadow: 0 1px 0px theme("colors.cool-grey.900"),
      1px 0 0px theme("colors.cool-grey.800"),
      1px 2px 0px theme("colors.cool-grey.900"),
      2px 1px 0px theme("colors.cool-grey.800"),
      2px 3px 0px theme("colors.cool-grey.900"),
      3px 2px 0px theme("colors.cool-grey.800");
  }

  .perspective {
    transform: perspective(1px) translateZ(0);
  }

  .container {
    @apply w-full max-w-screen-xl;
  }
}
